# common
node_modules
.DS_Store
dist
dist-ssr
dist.zip
dist.tar
dist.war
.nitro
.output
*-dist.zip
*-dist.tar
*-dist.war
coverage
*.local
.cache
.turbo
.temp
dev-dist
.stylelintcache
package-lock.json
pnpm-lock.yaml
**/backend-mock/data

# local env files
.env.local
.env.*.local
.eslintcache

# logs
*.log
pnpm-debug.log*
vite.config.mts.*
vite.config.mjs.*
vite.config.js.*
vite.config.ts.*

# editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# app temp files
apps/web-antd/types/components.d.ts

# AI
.agent
.agents
.claude
.codex
skills-lock.json
